// Less variables: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@icon-url : '/build/assets/fonts/iconfont';

@primary-color : #30ac90;

@layout-header-background : #ffffff;
@layout-header-height : 64px;

@layout-footer-background : #ffffff;
@layout-footer-padding : 16px 50px;
